<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <sql id="studentColumns">
        id,name,age,gender
    </sql>

    <select id="selectByPage" resultType="student">
        select <include refid="studentColumns"/> from student
        limit
        <foreach collection="list" item="num" separator=",">
            #{num}
        </foreach>
    </select>

    <select id="countTotalNum" resultType="Integer">
        select count(*) from student
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete from student where id = #{id}
    </delete>
</mapper>
  