<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <!-- public Student selectById(Integer id) {}
		parameterType="java.lang.Integer"
		resultType="com.situ.mybatis.pojo.Student"
	-->
    <select id="selectById"  parameterType="Integer" resultType="Student">
        select id,name,age,gender,banji_id from student where id=#{id}
    </select>
	
    <select id="selectAll" resultType="Student">
        select id,name,age,gender,banji_id from student
    </select>

    <!-- 对于更新类的操作返回的是影响的行数，但是resultType不需要写
     public void deleteById(Integer id)
     更新类返回影响的行数，在这里不用写返回值类型
    -->
    <delete id="deleteById" parameterType="Integer">
        delete from student where id=#{id}
    </delete>

    <insert id="add" parameterType="Student">
        insert into student(name,age,gender,banji_id)
        values(#{name},#{age},#{gender},#{banjiId})
    </insert>

</mapper>
  